.Board {
    position: fixed;
    top: 50px;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100% - 50px);
    display: flex;
    overflow-x: scroll;
    transition: ease-in .5s;
    background: #424242;
    #ghostTask {
        width: 240px;
        min-width: 240px;
        min-height: 270px;
        margin: 20px 15px;
        height: -moz-fit-content;
        height: fit-content;
        position: relative;
        cursor: pointer;
        #addTaskButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    #ghostTask:hover {
        background: #1f688524;
    }
    .singeTask {
        width: 240px;
        min-width: 240px;
        background: #ff980024;
        min-height: 270px;
        margin: 20px 15px;
        height: fit-content;
        position: relative;
        .deleteSingleTask {
            position: absolute;
            top: 0;
            right: 0;
            background: teal;
            width: 40px;
            height: 40px;
        }
        .taskTitle {
            // font-weight: 500;
            // font-size: 25px;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            // overflow: hidden;
            // padding: 5px;
            input {
                font-weight: 500;
                font-size: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                padding: 5px;
                max-width: 100%;
                margin: 5px 0;
                background: #ff980024;
                border: none;
            }
        }
        .taskBody {
            display: flex;
            flex-direction: column;
            align-items: center;
            .singleSubTask {
                background: cyan;
                width: 75%;
                margin: 5px 0;
                padding: 10px;
                height: fit-content;
                cursor: pointer;
                
            }
        }
        #singleSubTaskModal {
            position: fixed;
            top: 50%;
            left: 50%;
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 700px;
            transform: translate(-50%,-50%);
            background: #98ad87;
            cursor: default;
            #singleSubTaskModalTitle {
                
            }
            #singleSubTaskModalClose {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 20px;
                background:red;
            }
        }
    }
}
.Board.boardWithHiddenSidebar {
    width: 96%;
    left: 4%;
}