.Board {
    position: fixed;
    top: 100px;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100% - 100px);
    display: flex;
    overflow-x: scroll;
    #addTaskButton {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .singeTask {
        width: 275px;
        min-width: 275px;
        background: red;
        min-height: 270px;
        margin: 20px;
    }
}
.Board.boardWithHiddenSidebar {
    width: 100%;
    left: 0;
}