.Board {
    position: fixed;
    top: 50px;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100% - 50px);
    display: flex;
    overflow-x: scroll;
    transition: ease-in .5s;
    background: #424242;
    z-index: 0;
    #ghostTask {
        width: 240px;
        min-width: 240px;
        min-height: 270px;
        margin: 20px 15px;
        height: -moz-fit-content;
        height: fit-content;
        position: relative;
        cursor: pointer;
        #addTaskButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    #ghostTask:hover {
        background: #1f688524;
    }
    #TasksContainer {
        display:flex;
        .SingleTaskContainer {
            width: 250px;
            min-width: 250px;
            max-width: 250px;
            background: #1de9b6;
            min-height: 270px;
            margin: 20px 15px;
            height: -moz-fit-content;
            height: fit-content;
            position: relative;
        
            .singleTask {
                width: 100%;
                background: #e91d4c;//#e91d4c;
                position: absolute;
                height: fit-content;
                min-height: 270px;
                box-shadow: 8px 7px 5px 1px #403030;
                background: #77865B;
                color: #F4F3F4;    
                box-shadow: 0 10px 20px rgb(0, 0, 0), 0 6px 6px rgb(66, 66, 66);
                .deleteSingleTask {
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    /* background: teal;
                    width: 40px;
                    height: 40px; */
                }
                .deleteSingleTaskModal {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100%;
                    background: #fbfbfb;
                    height: 100%;
                    width: -moz-fit-content;
                    width: fit-content;
                    display: flex;
                    width: 100px;
                    justify-content: space-around;
                    border-radius: 20px;
                    transform: translateX(-50%);
                    z-index: 1;
                    align-items: center ;
                    .deleteSingleTaskModalYes {
                        color: red;
                        cursor: pointer;
                    }
                    .deleteSingleTaskModalCancel {
                        color: green;
                        cursor: pointer;
                    }
                }
                
                .taskTitle {
                    // font-weight: 500;
                    // font-size: 25px;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    // overflow: hidden;
                    // padding: 5px;
                    min-height: 30px;
                    padding: 20px 0px;
                    position: relative;
                    input {
                        font-weight: 500;
                        font-size: 20px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        padding: 5px;
                        max-width: 90%;
                        // margin: 5px 0;
                        background: inherit;
                        border: none;
                        color: white;
                        // width: 100%;
                        // padding: 5px;
                        // margin: 0;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -o-box-sizing: border-box;
                        -ms-box-sizing: border-box;
                        box-sizing: border-box;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);

                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 80%;
                    }
                    .editTaskTitlePenIcon {
                        position: absolute;
                        right: 10px;
                        display: none;
                    }
                    
                    /* input:focus {
                        background:cyan;
                    } */
                }
                .taskTitle:hover {
                    .editTaskTitlePenIcon {
                        display:block;
                    }
                   
                }
                .taskBody {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .singleSubTaskContainer {
                        width: 90%;
                    
                        .singleSubTask {
                            display: flex;
                            align-items: center;
                            margin: 5px 0;
                            background: #52664c8c;
                            padding: 5px 5px;
                            .singleSubTaskTitle {
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                width: 90%;
                            }
                            .subTaskOpenModal {
                                // background: yellow;
                                cursor: pointer;
                            }
                            .subTaskOpenModal:hover {
                                // background:orange;
                                transform: scale(1.2);
                                color: orange;;
                            }
                             .singleSubIcon {
                                display:none;
                                position: absolute;
                                right: 15px;
                            }
                        }
                    }
                    .singleSubTask:hover {
                    
                        background: #98b06b;
                        .singleSubIcon {
                            display:block;
                        }

                    }
                }
                #singleSubTaskModal {
                    position: fixed;
                    height: 100vh;
                    width: 100vw;
                    top: 0;
                    left: 0;
                    background: #00000044;
                    z-index: 2;
                    #singleSubTaskModalContent {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: flex;
                        flex-direction: column;
                        width: 600px;
                        height: 700px;
                        transform: translate(-50%,-50%);
                        background: #98ad87;
                        cursor: default;
                        #singleSubTaskModalTitle {
                            height: 10%;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            background: #8AA9B0;
                            textarea {
                                width: 80%;
                                position: absolute;
                                top:50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                outline:none;
                                border:none;
                                font-size: 20px;
                                background: #F4F3F4;
                                padding: 5px;
                                box-sizing: border-box;
                                z-index: 1;
                                min-height: 80%;
                            }
                            textarea:focus {
                                background: teal;
                                color:white;
                            }
                        }
                        #singleSubTaskModalBody {
                            height: 90%;
                            width:100%;
                            position: absolute;
                            top: 10%;
                            background: #8AA9B0;
                            label {
                                font-size: 20px;
                            }
                            textarea {
                                position: absolute;
                                width: 80%;
                                height: 90%;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%);
                                outline:none;
                                border:none;
                                font-size: 16px;
                                background: #F4F3F4;
                                padding: 5px;
                                box-sizing: border-box;
                                z-index: 1;
                            }
                            textarea:focus {
                                background: teal;
                                color:white;
                            }
                        }

                        #singleSubTaskModalClose {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 40px;
                            height: 20px;
                            background:red;
                        }
                    }
                }
            }
        }
    }
}
.Board.boardWithHiddenSidebar {
    width: calc(100% - 50px);
    left: 50px;
}