


.Sidebar {
    height: calc(100% - 50px);
    // width: 300px;
    background:orange;
    transition: ease-in .5s;
    position: fixed;
    left: 0;
    top: 50px;
    width: 250px;
    .singleProject {
        background: teal;
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0;
        padding: 10px 0px;
        cursor: pointer;
        .projectTitle {
            font-size: 20px;
            font-weight: 700;
        }
        .deleteSingleProject {
            position: absolute;
            right: 25px;
            z-index: 11;
            width: 25px;
            height: 25px;
        }
        .deleteSingleProject:hover {
            background: yellow;
        }
        .deleteSingleProject:after {
            content: '';
            height: 25px;
            border-left: 2px solid red;
            position: absolute;
            transform: rotate(45deg);
        }

        .deleteSingleProject:before {
            content: '';
            height: 25px;
            border-left: 2px solid red;
            position: absolute;
            transform: rotate(-45deg);
        }

    }
    #sidebarCloser {
        position: absolute;
        right: -50px;
        height: 100vh;
        width: 50px;
        background: red;
        cursor: pointer;
        transition: ease-in .5s;

    }
    .singleProjectActive {
        background: lightgrey;
    }
}
.Sidebar.hiddenSidebar {
    left:-250px;
    #sidebarCloser {
        right: -50px!important;
    }
}
/* .hiddenSidebar::after {
    content: '';
    background: yellow;
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 100vh;
    cursor: pointer;
} */