.Sidebar {
    height: calc(100% - 100px);
    width: 300px;
    background:orange;

    position: fixed;
    left: 0;
    top: 100px;

    .singleProject {
        background: teal;
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0;
        padding: 20px 12px;
        cursor: pointer;
        .projectTitle {
            font-size: 20px;
            font-weight: 700;
        }
        /* .deleteSingleProject {
            background: red;
            color: white;
            cursor: pointer;
        }
 */
        .deleteSingleProject {
                position: absolute;
    right: 25px;
        }
        .deleteSingleProject:after {
            content: '';
            height: 25px;
            border-left: 2px solid red;
            position: absolute;
            transform: rotate(45deg);
        }

        .deleteSingleProject:before {
            content: '';
            height: 25px;
            border-left: 2px solid red;
            position: absolute;
            transform: rotate(-45deg);
        }

    }
    .singleProjectActive {
        background: lightgrey;
    }
}
.Sidebar.hiddenSidebar {
    left:-300px;
   
}
.hiddenSidebar::after {
    content: '';
    background: yellow;
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}